@{
    ViewData["Title"] = "Admin Page";
}

  <label for="user-select">List of Users: </label>
  <select name="userName" id="user-select">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <br />

  <input type="button" value="Delete User" id="buttonDelete" data-inline="true"   /> <br />
  <input type="button" value="Reset Password" id="buttonResetPassword" data-inline="true"   /><br />