
@{
    ViewData["Title"] = "BrowseDecks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Browse Decks</h1>
<br />

@*Might need some help later on with figuring out how to find out deck size*@
<p>Deck size: </p>

@*Also might need help later on figuring out what to do for *@
<p>Cards: </p>
<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Deck title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Deck subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

@*And I'll need someone to show me how to pull down the deck despription the user will propably put in here*@
<p>Deck Description: </p>
