
@{
    ViewData["Title"] = "BrowseDecks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LinkedList<BurnBuilder.Models.Deck>
<h1>Browse Decks</h1>
<br />

@foreach (Deck deck in Model)
{
    <form>
        <label>Name: @deck.DeckName </label><br />
        <label>Description: @deck.Description </label><br />
        <label>Color: @deck.DeckColor </label><br />
        @*<input type="button" value="search" id="searchButton" /><br />*@
    </form>

}