
@{
    ViewData["Title"] = "EditDeck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LinkedList<BurnBuilder.Models.Deck>
<h1>EditDeck</h1>
<br />

@foreach(Deck deck in Model)
{
    <p>Click to Reveal Deck Details to Change</p>
    <form asp-action="EditDeck" method="post">
        <label>Name: </label>
        <input class="roundcorners" required size="15" onclick="value = '@deck.DeckName'" />
        <br />

        <label>Description: </label>
        <input class="roundcorners" required size="15" onclick="value='@deck.Description'"/>
        <br />

        <label>Deck Color: </label>
        <input class="roundcorners" required size="15" onclick="value='@deck.DeckColor'"/>
        <br />

        <a href="">Click to Change Cards in Deck</a>
        <a href="">Click to Save Changes</a>
    </form>
}



