@{ ViewData["Title"] = "Home Page"; }
@model BurnBuilder.Models.User

<h1>Home Page</h1>

@*No actual link until I figure out the button situation plus someone sets up the create a deck page*@
<h1>Create New Deck</h1>
<a href="@Url.Action("CreateDeck", "Home")">Create Deck</a>