@{ ViewData["Title"] = "Home Page"; }
@model BurnBuilder.Models.LoginCredentials

<h1>Home Page</h1>

@*No actual link until I figure out the button situation plus someone sets up the create a deck page*@
<h1>Create New Deck</h1>
<label><button type="new">No Idea how to have just big plus symbol for button</button></label>