@{ ViewData["Title"] = "Log In"; }
@model BurnBuilder.Models.User

<h1>Index</h1>
<br />

<h5>Sign In</h5>
<form id="loginform" asp-action="checkValidUser" method="post">
    <div class="inputwrap">
        <label>Email Address: </label>
        <input asp-for="EmailAddress" class="roundcorners" required size="15" /><br />

    </div>

    <div class="inputwrap">
        <label>Password: </label>
        <input asp-for="Password" class="roundcorners" required size="15" type="password" id="myInput" />
        <br />
        <input type="checkbox" id="passwordBox" />Show Password
        <br />
    </div>

    <div class="inputwrap">
        <label><button type="submit">Log In</button></label>
        <label style="color:red;">@ViewBag.LoginMessage</label>
    </div>
</form>
<br /><br />

<h5>To register, Please add the info below:</h5><br />
<form asp-action="Register" method="post">
    <label>First Name</label> <input asp-for="FirstName" />
    <br />
    <label>Last Name</label> <input asp-for="LastName" />
    <br />
    <label>Email Address</label> <input asp-for="EmailAddress" />
    <br />
    <label>Current Time</label> <input asp-for="Created" /><p>(Example: 2020-11-25 12:00:00.0000000)</p>
    <label>Password</label> <input asp-for="Password" type="password" id="myInput" />
    <br />
    <input type="checkbox" id="passwordBox" />Show Password
    <br />
    <button type="submit">Submit</button>
</form>
<script>
        //this function is used to protect the password unless the box is checked to show password
        const passBox = document.getElementById("passwordBox");
        passBox.addEventListener("click", changePassword);
        function changePassword() {
            let x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
</script>
