@{ ViewData["Title"] = "Log In"; }
@model BurnBuilder.Models.User

<h1>Index</h1>
<br />

<h5>Sign In</h5>
<form id="loginform" asp-action="checkValidUser" method="post">
    <div class="inputwrap">
        <label>Email Address: </label>
        <input asp-for="EmailAddress" class="roundcorners" required size="15" /><br />

    </div>

    <div class="inputwrap">
        <label>Password: </label>
        <input asp-for="Password" class="roundcorners" required size="15" type="password" id="myInput" />
        <br />
        <input type="checkbox" id="passwordBox" />Show Password
        <br />
    </div>

    <div class="inputwrap">
        <label><button type="submit">Log In</button></label>
        <label style="color:red;">@ViewBag.LoginMessage</label>
    </div>
</form>
<br /><br />

<form asp-action="Register" method="post">
    <fieldset> <legend>Register</legend>
    <label>First Name</label> <input asp-for="FirstName" />
    <br />
    <label>Last Name</label> <input asp-for="LastName" />
    <br />
    <label>Email</label> <input asp-for="EmailAddress" />
    <br />
    <label>Current time</label> <input asp-for="Created" />
    <div id="time">Copy this time: </div>
    <br />
    <label>Password</label> <input asp-for="Password" type="password" id="myInput" />
    <br />
    <input type="checkbox" id="passwordBox" />Show Password
    <br />
    <button type="submit">Submit</button>
    </fieldset>
</form>
<script>
        let d = new Date();
        document.getElementById("time").innerHTML += d.getFullYear() + "-" + d.getMonth() + "-" + d.getDate() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds() + "0000";

        //this function is used to protect the password unless the box is checked to show password
        const passBox = document.getElementById("passwordBox");
        passBox.addEventListener("click", changePassword);
        function changePassword() {
            let x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
</script>
