@{
    ViewData["Title"] = "ViewDeck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewDeck</h1>
<br />

<form>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Deck title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Deck subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <br />

    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Deck title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Deck subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <br />

    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Deck title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Deck subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <br />

    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Deck title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Deck subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    
</form>
